@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu');

.container {
    margin: 3em;
    color: #444;

    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }

    p {
        font-family: 'Source Sans Pro', sans-serif;
    }
}